.trendlineXAxis .tick{
	display:none;
}

.axis path,
.axis line{
  fill: none;
  stroke: rgb(0, 0, 0);
  shape-rendering: crispEdges;
}

.trendline {
  fill: none;
  stroke: #db6156;
  stroke-width: 2px;
}

.barChartXAxis path{
	display:none;
}

.chartLabel{
	padding-top:5px;
	 font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	 /* font-weight: bold; */
	 /* font-size: 20px; */
}

#tophalf {
	padding-top: 10px;
}

#leaderboard th,td{
	text-align:center;
}

#leaderboard tbody tr:nth-child(even) {

    background-color: #2c7873;
}

#leaderboard tbody tr:nth-child(odd) {
    background-color: #6fb98f;
}

#leaderboard thead{
	background-color:#004445;
}

#leaderboard table{
	color:white;
}

#tophalfcontainer,
#barChartcontainer{
	box-shadow: 1px 1px 5px steelblue;}